body {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(223, 171, 171);
}

#app {
  background-color: #ee9a9a;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 8px;
}
.inputs {
  display: flex;
  flex-direction: column;
}
input {
  margin: 8px 0;
  padding: 8px;
}
.botoes {
  display: flex;
  justify-content: conter;
}
.mostrar {
  display: flex;
}
.esconder {
  display: none;
}
#btn-calcular {
  width: 50%;
  margin: 0 4px;
  background-color: #f05252;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#btn-limpar {
  width: 50%;
  margin: 0 4px;
  background-color: #e96767;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.resultados {
  background-color: #eec2c2;
  border: #ccc 1px solid;
  padding: 20px;
  border-radius: 8px;
  margin-top: 16px;
}
